// Padding
.inner_section {
    padding-left: 10px;
    padding-top: 10px;
}

.pad-r-sm {
    padding-right: 10px;
}

.pad-t-med {
    padding-top: 15px;
}

.pad-l-med {
    padding-left: 15px;
}

.pad-l-sm {
    padding-left: 10px;
}

.pad-t-lar {
    padding-top: 25px;
}

.pad-l-lar {
    padding-left: 25px;
}

// Margins
.margin_med {
    margin: 15px;
}

.margin_b_sm {
    margin-bottom: 10px;
}

.margin_r_sm {
    margin-right: 10px;
}

.margin_t_sm {
    margin-top: 10px;
}

.margin_l_sm {
    margin-left: 10px;
}

.margin_r_large {
    margin-right: 35px;
}

.margin_b_med {
    margin-bottom: 15px;
}

.margin_t_med {
    margin-top: 15px;
}

.margin_l_med {
    margin-left: 15px;
}

.margin_l_large {
    margin-left: 35px;
}

.margin_t_l {
    margin-top: 30px;
}

.margin_l_l {
    margin-left: 30px;
}