// Grid_col_1 etc are in globals.scss as these are used on the callList page as well
.clientListDisplay {
    display: grid;
    grid-template-columns:100px minmax(100px, 250px) minmax(200px, 2000px) 100px;
    grid-template-rows: auto;
}

// For formatting the client details part of the clients page
.details_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 200px);
    column-gap: 80px;
    row-gap: 30px;
}

.details_grid input[type="text"] {
    margin:0;
}

.grid_a_1 {
    grid-column-start: 1;
    grid-row-start: 1;;
    width:100%;
}

.grid_a_2 {
    grid-column-start: 2;
    grid-row-start: 1;;
}

.grid_b_1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.grid_b_2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.grid_a_3_4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

// Search bar
.search_bar {
    font-size: $font-small;
    border-radius: 8px;
    height: 31px;
    width: 100%;
}

// List container
.list_container {
    height: 83%;
    overflow-y: auto;
    padding-right: 6px;
}

// Section divider
.section_divider_clientList {
    height: 90vh;
    border: none;
    width:100%;
    border-right: 1px solid #1f1209;
    overflow: auto;
}

.inner_section {
    padding-left: 10px;
    padding-top: 10px;
}

 // Import clients
 .clientsFile {
    display: inline-block;
    width: 245px;
 }

// Popup class for the add and edit address, contact etc forms on the clientsDetails page
.popup {
    visibility: hidden;
    position: absolute;
    background-color: white;
    z-index: 1;

    &-call {
        width: 400px;
    }
}

/***********************************************************
 * Centered popups
 ***********************************************************/
 // Add client popup
 .centeredPopupCP {
    visibility: hidden;
    position: fixed;
    background-color: white;
    border: 1px solid black;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    padding: 35px;

    &-addClient {
        width: 250px;
    }

    &-editClient {
        width: 250px;
    }
 }