.section_title {
    font-size: $font-medium;
    color: $primary;
}

.section_content {
    padding-left: 10px;
    padding-right: 10px;
}

.section_divider {
    height: 71vh;
    border: none;
    width:100%;
    margin-bottom: 16px;
    border-right: 1px solid #1f1209;
}