<!-- Client popup -->
<div id="clientPopup" class="popup popup-client hidden">
    <!-- Header -->
    <div class="popupHeaderDiv">
        <p class="popupHeader"> Add Client </p>
        <span class="close-button">&times</span>
    </div>
    <br />
    <form id="clientPopup">
        <p class="popupHeader2"> Client details </p>
        <label for="cName"> Client name: </label>
        <input id="cName" required type="text" name="name"> <br />
        <label for="cCompany"> Company: </label>
        <input id="cCompany" type="text" name="company"> <br /><br />

        <p class="popupHeader2"> Reminder </p>
        <input id="cReminder" type="date" name="rDate"> <br /><br />

        <p class="popupHeader2"> Contact details </p>
        <label for="cTelephone"> Telephone: </label> <br />
        <input id="cTelephone" type="text" name="telephone"> <br />
        <label for="cMobile"> Mobile: </label> <br />
        <input id="cMobile" type="text" name="mobile"> <br />
        <label for="cEmail"> Email address: </label> <br />
        <input id="cEmail" type="email" name="email"> <br /><br />

        <p class="popupHeader2"> Address details </p>
        <label for="cStreet"> Street: </label> <br />
        <input id="cStreet" type="text" name="street"> <br />
        <label for="cSuburb"> Suburb: </label> <br />
        <input id="cSuburb" type="text" name="suburb"> <br />
        <label for="cCity"> City: </label> <br />
        <input id="cCity" type="text" name="city"> <br />
        <label for="cPc"> Postcode: </label> <br />
        <input id="cPc" type="text" name="pc"><br /><br />

        <div style="text-align: center;">
            <button id="clientPopupSubmitButton" type="button" class="button_primary"> Submit </button>
        </div>
    </form>
</div>