<script type="module" src="/js/clientListScript.js"> </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Left Pane -->
<div id="leftPane" name="test" class="grid_col_1 section_divider_clientList">
    <div class="pad-t-med pad-r-sm">
        <!-- Error message for duplicate client entry -->
        <p class="error_message size_small"> <%= locals.error %> </p>

        <!-- list header -->
        <div class="flex flex-ai-c flex-jc-sb">
            <p id="clientListHeader" class="size_small"></p>
            <span id="nClients" class="listCount"> </span>
        </div>
        <hr class="line_header">

        <!-- list -->
        <div class="margin_t_sm">
            <ul id="cList"></ul>
            <button id="clientsLoadMore" data-list="clientList"> Load more... </button>
        </div>
    </div>
</div>