html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

p, a, h1, h2 {
  text-decoration: none;
  color: black;
}

p {
  cursor: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #0652C3;
}

li:not(:first-child) {
  margin-top: 5px;
}

input, label {
  margin: 0.4rem 0;
}

label {
  color: black;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-r {
  justify-content: right;
}
.flex-jc-l {
  justify-self: left;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-b {
  align-items: end;
}

.size_large {
  font-size: 24px;
}

.size_medium {
  font-size: 20px;
}

.size_small {
  font-size: 16px;
}

.size_v_small {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.color_primary {
  color: #009AAF;
}

.color_secondary {
  color: #0652C3;
}

hr {
  border: none;
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #1f1209;
}

.line_header {
  grid-column: 1/span all;
  box-shadow: 0px 0.5px grey;
}

button {
  background-color: white;
  display: inline-block;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.button_primary {
  height: 31px;
  font-size: 20px;
  background-color: #009AAF;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
.button_primary_red {
  background-color: white;
  color: red;
  border: 1px solid red;
}
.button_secondary {
  height: 21px;
  font-size: 16px;
  border: 1px solid #009AAF;
  background-color: white;
  color: #009AAF;
  padding-left: 8x;
  padding-right: 8px;
}
.button_clear {
  height: 17px;
  font-size: 14px;
  border: none;
  color: #009AAF;
}
.button_cancel {
  border-color: red;
  color: red;
}

.dropdown {
  position: relative;
}

.drop_button {
  border-radius: 0;
}

.drop_content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 150px;
  z-index: 1;
}

.drop_content li {
  color: black;
  list-style: none;
  padding-top: 10px;
}

.show {
  display: block;
}

.search_bar {
  font-size: 16px;
  border-radius: 8px;
  height: 31px;
}

.grid_col_1 {
  grid-column: 2;
}

.grid_col_2 {
  grid-column: 3;
}

.grid_col_3 {
  grid-column: 4;
}

.grid_col_2_s2 {
  grid-column: 3/span 2;
}

.grid_col_1_s3 {
  grid-column: 2/span 3;
}

.grid_col_1_s2 {
  grid-column: 2/span 2;
}

.close_form {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}

button > .close_form {
  width: 16px;
  height: 16px;
}

.close_form:hover {
  opacity: 0.5;
}

.close-button {
  height: 16px;
  width: 16px;
}

.close-button > .close_form {
  right: 4px;
}

.close_form:after {
  content: "";
  height: 16px;
  border-left: 2px solid red;
  position: absolute;
  transform: rotate(45deg);
  left: 50%;
}

.close_form:before {
  content: "";
  height: 16px;
  border-left: 2px solid red;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
}

.hidden {
  display: none;
}

.popup {
  visibility: hidden;
  position: absolute;
  background-color: white;
  z-index: 1;
}
.popup-call {
  width: 400px;
}

.clientPopup {
  display: none;
  position: absolute;
  padding: 15px;
  border: 1px solid grey;
  background-color: lightgrey;
  background-attachment: local;
  z-index: 2;
}

.clientPopup a {
  text-decoration: underline;
}

.positionRelative {
  position: relative;
}

.revealCallDate:checked ~ .callDate {
  display: block;
}

.callDate {
  display: none;
}

.confirmed_width {
  width: 60%;
}

.overflow-auto {
  height: 80vh;
  overflow: auto;
}

header {
  grid-column: 2/span 3;
}

nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navItemBox {
  size: 100%;
  padding-right: 20px;
}

.navItemBox:hover {
  text-decoration: underline;
}

.logo {
  color: #009AAF;
  font-size: 24px;
  font-weight: bold;
  margin-right: 15px;
}

.user {
  font-weight: lighter;
}

.callListTemp {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  grid-template-rows: auto;
}

.clientListTemp {
  display: grid;
  grid-template-columns: 100px minmax(100px, 250px) minmax(200px, 2000px) 100px;
  grid-template-rows: auto;
}

.inner_section {
  padding-left: 10px;
  padding-top: 10px;
}

.pad-r-sm {
  padding-right: 10px;
}

.pad-t-med {
  padding-top: 15px;
}

.pad-l-med {
  padding-left: 15px;
}

.pad-t-lar {
  padding-top: 25px;
}

.pad-l-lar {
  padding-left: 25px;
}

.margin_med {
  margin: 15px;
}

.margin_b_sm {
  margin-bottom: 10px;
}

.margin_r_sm {
  margin-right: 10px;
}

.margin_t_sm {
  margin-top: 10px;
}

.margin_l_sm {
  margin-left: 10px;
}

.margin_r_large {
  margin-right: 35px;
}

.margin_b_med {
  margin-bottom: 15px;
}

.margin_t_med {
  margin-top: 15px;
}

.margin_l_med {
  margin-left: 15px;
}

.margin_l_large {
  margin-left: 35px;
}

.margin_t_l {
  margin-top: 30px;
}

.margin_l_l {
  margin-left: 30px;
}

.client_details {
  width: 100%;
}

.section_divider_clientList {
  height: 90vh;
  border: none;
  width: 100%;
  border-right: 1px solid #1f1209;
  overflow: auto;
}

.section_divider_callList {
  height: 80vh;
  border: none;
  width: 100%;
  border-right: 1px solid #1f1209;
  overflow: auto;
}

.section_divider_confirmedList {
  height: 80vh;
  overflow: auto;
}

.details_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  column-gap: 80px;
  row-gap: 10px;
}

.grid_a_1 {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
}

.grid_a_2 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.grid_a_3_4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.date_divider {
  color: grey;
  border-bottom: 1px solid grey;
  cursor: default;
  font-weight: lighter;
}

.list_container {
  height: 150px;
}

.login_container {
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.form_comments {
  height: 100px;
}

.details_grid input[type=text] {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
