html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

p, a, h1, h2 {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #0652C3;
  cursor: pointer;
}

li:not(:first-child) {
  margin-top: 5px;
}

input, label {
  margin: .4rem 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-r {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex-jc-l {
  -ms-grid-column-align: left;
      justify-self: left;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-b {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.size_large {
  font-size: 27px;
}

.size_medium {
  font-size: 24px;
}

.size_small {
  font-size: 20px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.color_primary {
  color: #009AAF;
}

.color_secondary {
  color: #0652C3;
}

hr {
  border: none;
  width: 100%;
  height: 0px;
  border-bottom: 1px solid #1f1209;
}

.line_header {
  grid-column: 1 / span all;
  -webkit-box-shadow: 0px 0.5px grey;
          box-shadow: 0px 0.5px grey;
}

button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.button_primary {
  height: 35px;
  font-size: 24px;
  background-color: #009AAF;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.button_secondary {
  height: 25px;
  font-size: 20px;
  border: 1px solid #009AAF;
  background-color: white;
  color: #009AAF;
  padding-left: 10px;
  padding-right: 10px;
}

.button_cancel {
  border-color: red;
  color: red;
}

.dropdown {
  position: relative;
}

.drop_button {
  border-radius: 0;
}

.drop_content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 150px;
  z-index: 1;
}

.drop_content li {
  color: black;
  list-style: none;
  padding-top: 10px;
}

.show {
  display: block;
}

.search_bar {
  font-size: 24px;
  border-radius: 8px;
  height: 35px;
  width: 186px;
}

.grid_col_1 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.grid_col_2 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid_col_3 {
  -ms-grid-column: 4;
  grid-column: 4;
}

.grid_col_2_s2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.close_form {
  display: block;
  width: 25px;
  border-top: 5px solid red;
  margin-left: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  color: #009AAF;
  font-size: 27px;
  font-weight: bold;
}

.user {
  font-weight: lighter;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px minmax(200px, 400px) minmax(200px, 1200px) 150px;
      grid-template-columns: 150px minmax(200px, 400px) minmax(200px, 1200px) 150px;
}

.inner_section {
  padding: 10px;
}

.pad-r-sm {
  padding-right: 10px;
}

.pad-t-med {
  padding-top: 15px;
}

.pad-l-med {
  padding-left: 15px;
}

.pad-t-lar {
  padding-top: 25px;
}

.pad-l-lar {
  padding-left: 25px;
}

.margin_b_sm {
  margin-bottom: 10px;
}

.margin_r_sm {
  margin-right: 10px;
}

.margin_b_med {
  margin-bottom: 15px;
}

.margin_t_med {
  margin-top: 15px;
}

.margin_l_med {
  margin-left: 15px;
}

.margin_t_l {
  margin-top: 30px;
}

.margin_l_l {
  margin-left: 30px;
}

.client_details {
  width: 100%;
}

.section_divider {
  height: 92vh;
  border: none;
  width: 100%;
  border-right: 1px solid #1f1209;
}

.details_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  row-gap: 10px;
}

.grid_a_1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.grid_a_2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.grid_a_3_4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.date_divider {
  color: grey;
  border-bottom: 1px solid grey;
  cursor: default;
  font-weight: lighter;
}

.list_container {
  height: 150px;
}

.form_comments {
  width: 300px;
  height: 100px;
}

.details_grid input[type="text"] {
  margin: 0;
  width: 300px;
}

.popup {
  visibility: hidden;
  position: absolute;
  background-color: white;
  width: 525px;
}

/*# sourceMappingURL=styles.css.map */