<div style="width: 98%;" class="flex flex-ai-c flex-jc-sb list_item_divider">
    <button id="<%= locals.client.rId %>" name="clientCallButton" type="button" class="color_secondary size_small"> <%= locals.client.name %> </button>
    <% if (locals.client.flag && locals.client.status != "confirmed") { %> 
        <p class="flagCheckBox">  </p> 
    <% } %>
</div>