<div class="clientCallButtonContainer">
    <button id="<%= locals.client.rId %>" name="clientCallButton" type="button" class="color_secondary size_small"> <%= locals.client.name %> </button>
    <% if (locals.client.flag && locals.client.status != "confirmed") { %> 
        <p style="color: black" class="flagCheckBox">  </p> 
    <% } %>
</div>