<div class="grid_a_3_4">
    <div class="client_details">
        <p class="color_primary size_small"> Services </p>
        <hr class="line_header">
    </div>
    <div class="list_container margin_t_med margin_l_med">
        <ul id="service_list">
            <li> A goody </li>
            <li> Marvelous </li>
            <li> Yeap </li>
        </ul>
    </div>
</div>