<div id="filterPopup-<%= locals.list %>" class="hidden popup">
    <div class="popupHeaderDiv">
        <h3 style="text-align: center;"> Filter </h3>
        <span id="filterPopupClose-<%= locals.list %>" class="close-button">&times</span>
    </div>
    <br />
    <form id="">

    </form>
</div>