<!-- Left pane (call list) -->
<%- include("./partials/call-list.ejs", {calls:callList}) %>


<!-- Client details pane -->
<div class="grid_col_2">
    <div class="margin_t_l margin_l_l">
        <!-- Details header -->
        <div class="flex flex-ai-c flex-jc-sb">
            <p id="client_name" class="size_small bold"> Barry Stansfield </p>
            <button class="button_primary"> Edit </button>
        </div>

        <div class="details_grid pad-t-med pad-l-med">
            <div class="grid_a_1">
                <!-- Address details -->
                <div class="client_details">
                    <p class="color_primary size_small"> Address </p>
                    <hr class="line_header">
                </div>
                <div class="list_container margin_t_med margin_l_med">
                    <ul id="client_details">
                        <li> 
                            <% for (let i=0; i < addDetails.length; i++) { %>
                                <div class="flex flex-ai-c flex-jc-sb">
                                    <%=addDetails[i].address%>
                                    <span id="closeCustomerFormButton" class="close_form">
                                </div> 
                            <% } %>
                        </li>
                    </ul>
                </div>
                <!-- Contact details -->
                <div class="client_details">
                    <p class="color_primary size_small"> Contact details </p>
                    <hr class="line_header">
                </div>
                <div class="list_container margin_t_med margin_l_med">
                    <ul id="contact_details">
                        <li> 584 52455 885 </li>
                    </ul>
                </div>
            </div>
            <div class="gird_a_2">
                <!-- Call date details -->
                <div class="client_details">
                    <p class="color_primary size_small"> Call dates </p>
                    <hr class="line_header">
                </div>
                <div class="list_container margin_t_med margin_l_med">
                    <ul id="call_dates">
                        <li> Mr Barry </li>
                        <li> Sweeny Todd </li>
                    </ul>
                </div>
                <!-- Comments -->
                <div class="client_details">
                    <p class="color_primary size_small"> Comments </p>
                    <hr class="line_header">
                </div>
                <div class="list_container margin_t_med margin_l_med">
                    <p id="client_comments" class="color_secondary">
                        Yeah it was bloody good
                    </p>
                </div>
            </div>
            <!-- Services -->
            <div class="grid_a_3_4">
                <div class="client_details">
                    <p class="color_primary size_small"> Services </p>
                    <hr class="line_header">
                </div>
                <div class="list_container margin_t_med margin_l_med">
                    <ul id="service_list">
                        <li> A goody </li>
                        <li> Marvelous </li>
                        <li> Yeap </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>