<h3> Address: </h3> <br />
<label> Street: </label> <br />
<input type="text" name="street"> <br /><br />
<labe> Suburb: </label> <br />
<input type="text" name="suburb"> <br /><br />
<label> City: </label> <br />
<input type="text" name="city"> <br /><br />
<label> Postcode: </label> <br />
<input type="text" name="pc"><br /><br />
<label> Area: </label> <br />
<input type="text" name="area"><br />