<h3> Client: </h3> <br />
<label> Customer name: </label> <br />
<input type="text" name="name" value=""> <br /><br />
<label> Comments: </label> <br />
<textarea name="comments" class="form_comments" cols="33" rows="6"> </textarea>
<br /> <br /> <br />
