// Grid_col_1 etc are in globals.scss

// Search bar
.search_bar {
    font-size: $font-small;
    border-radius: 8px;
    height: 31px;
}

// Popup class for the add and edit address, contact etc forms on the clientsDetails page
.popup {
    visibility: hidden;
    position: absolute;
    background-color: white;
    z-index: 1;

    &-call {
        width: 400px;
    }
}