.callListTemp{
    display: grid;
    grid-template-columns:100px 1fr 1fr 1fr 100px;
    grid-template-rows: auto;
}

.clientListTemp {
    display: grid;
    grid-template-columns:100px minmax(100px, 250px) minmax(200px, 2000px) 100px;
    grid-template-rows: auto;
}