<!-- Left Pane -->
<div class="grid_col_1 section_divider">
    <div class="pad-t-med pad-r-sm">
        <!-- Add customer button and search bar -->
        <div class="flex flex-ai-c flex-jc-sb margin_b_med">
            <a href="/clients/add-client" class="button button_primary"> Add&nbsp;Customer </a>
            <form id="searchForm" action="/clients/search" method="GET">
                <input id="searchBar" name="search" type="text" class="search_bar" autoComplete="off" placeholder=" Search...">
            </form>
        </div>
        <!-- Call list header -->
        <p class="size_small"> 
            <% if(typeof search != "undefined" && locals.search != null) { %> 
                Search: <%= locals.search %> <% } else { %>
                Call List
            <% } %>
        </p>
        <hr class="line_header">

        <!-- Call list -->
        <div class="inner_section">
            <ul id="cList">
                <% for (let i = 0; i < calls.length; i++) { %>
                    <li><a href=<%="/clients/" + calls[i].id%> class="color_secondary"> <%= calls[i].name %> </a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>