<script type="module" src="/js/clientListScript.js"> </script>

<!-- Left Pane -->
<div id="leftPane" name="test" class="grid_col_1 section_divider_clientList">
    <div class="pad-t-med pad-r-sm">
        <!-- Add customer button and search bar -->
        <a href="/clients/add-client" class="button button_primary"> Add&nbsp;Customer </a>
        <form id="searchForm" action="/clients/search" method="GET">
            <input id="searchBar" name="search" type="text" class="search_bar" autoComplete="off" placeholder=" Search...">
        </form>
        <br />

        <!-- Call list header -->
        <p class="size_small"> 
            <% if(SEARCH.length > 0) { %> 
                <div class="flex flex-ai-c flex-jc-sb">
                    Search: <%= SEARCH %> 
                    <form id="cancelSearchForm" action="/clients/clear-search" method="GET">
                        <button type="submit"><span style="width: 15px; height: 1px;" class="close_form"></span></button>
                    </form>
                </div>
            <% } else { %>
                Client List
            <% } %>
        </p>
        <hr class="line_header">

        <!-- Call list -->
        <div class="inner_section">
            <ul id="cList">
                <% for (let i = 0; i < SEARCH_LIST.length; i++) { %>
                    <li><a href=<%="/clients/" + SEARCH_LIST[i].id%> class="color_secondary"> <%= SEARCH_LIST[i].name %> </a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>