<!-- Call List -->
<!--
<div class="grid_column_1">
    <p class="section_title flex flex-jc-c"> Call List </p>
    <hr />
    <div class="section_content section_divider">
        <ul id="callList"> </ul>
    </div>
</div>
-->
<div class="grid_column_1">
    <p class="section_title flex flex-jc-c"> Call List </p>
    <hr />
    <div class="section_content section_divider">
        <ul id="callList"> 
            <%console.log(callList);%>
            <% for (var i = 0; i < callList.length; i++) { %>
                <li> <%= callList[i].name %> </li>
            <% } %>
        </ul>
    </div>
</div>
<!-- To be confirmed List -->
<div class="grid_column_2">
    <p class="section_title flex flex-jc-c"> To be confirmed </p>
    <hr />
    <div class="section_content section_divider">
        <ul id="toBeConfirmed"> </ul>
    </div>
</div>
<!-- Confirmed list -->
<div class="grid_column_3">
    <p class="section_title flex flex-jc-c"> Confirmed </p>
    <hr />
    <div class="section_content">
        <ul id="confirmed"> </ul>
    </div>
</div>