<!-- Header and nav bar-->
<header>
    <nav class="flex flex-jc-sb flex-ai-c">
        <a href="/" class="logo"> ClientBase </a>

        <a href="#" class="user flex flex-ai-c"> 
            <img src=/images/user-icon.png alt="user-icon" width=32px height=32px />
            WEST
        </a>
    </nav>
</header>
<hr class="line_header"/>