<!-- Header and nav bar-->
<header>
    <nav class="flex flex-jc-sb flex-ai-c">
        <a href="/" class="logo"> ClientBase </a>

        <form action="/logout?_method=DELETE" method="POST" class="user flex flex-ai-c"> 
            <img src=/images/user-icon.png alt="user-icon" width=32px height=32px />
            <button type="submit" class="button_secondary"> Logout </button>
        </form>
    </nav>
</header>
<hr class="line_header"/>