    <!-- Filter and import client buttons -->
    <div class="clients_header_box">
        <div class="flex flex-ai-c">
            <button type="button" class="button_primary margin_r_med"> Filter </button>
            <span class="underline"> <%= locals.nClients + " Clients" %> </span>
        </div>
        <div class="flex flex-ai-c">
            <a href="/clients/import-clients" class="button button_importClients"> Import </a>
        </div>
    </div>