
<!--<h3> Address: </h3> <br />-->
<div class="flex">
    <div>
        <label> Street: </label> <br />
        <input id="formStreet" type="text" name="street" required value="<%= locals.street %>"> <br /><br />
        <label> Suburb: </label> <br />
        <input type="text" name="suburb" value="<%= locals.suburb %>"> <br /><br />
        <label> City: </label> <br />
        <input type="text" name="city" value="<%= locals.city %>"> <br /><br />
        <label> Postcode: </label> <br />
        <input type="text" name="pc" value="<%= locals.pc %>"><br /><br />
    </div>

    <br />
    <div class="margin_l_large margin_r_large">
        <p> Fresh air system: </p>
        <input type="radio" name="freshAir" required value="HRV" <%if(locals.fa == "HRV") {%> checked="true" <%}%>>
        <label for="hrv"> HRV </label> <br />
        <input type="radio" name="freshAir" value="DVS" <%if(locals.fa == "DVS") {%> checked="true" <%}%>>
        <label for="dvs"> DVS </label> <br />
        <input type="radio" name="freshAir" value="SMRT" <%if(locals.fa == "SMRT") {%> checked="true" <%}%>>
        <label for="SMRT"> Smart vent </label> <br />
        <input type="radio" name="freshAir" value="None" <%if(locals.fa == "None") {%> checked="true" <%}%>> 
        <label for="none"> None </label> <br />
        <input type="radio" name="freshAir" value="Unknown" <%if(locals.fa == "Unknown") {%> checked="true" <%}%>> 
        <label for="unknown"> Unknown </label> <br />
        <br />

        <input type="checkbox" name="clientAddress" value="1" <%if(locals.c) {%> checked="true" <%}%>>
        <label for="clientAddress"> Client address </label><br>
    </div>
</div>
<br /> <br />