<h3> <%= locals.name %> </h3>
<% if (locals.name) { %>
    <br />
<% } %>

<label> Customer name: </label> <br />
<input required type="text" name="name" class="width-100" value="<%= locals.name %>"> <br /><br />
<label> Company: </label> <br />
<input type="text" name="company" class="width-100" value="<%= locals.company %>"> <br /><br />