<h3> Client: </h3> <br />
<label> Customer name: </label> <br />
<input required type="text" name="name" value="<%= locals.name %>"> <br /><br />
<label> Company: </label> <br />
<input type="text" name="company" value="<%= locals.company %>"> <br /><br />
<label> Comments: </label> <br />
<textarea name="comments" class="form_comments" cols="33" rows="6"><%= locals.comments %></textarea>
<br /> <br /> <br />
