<h3> Contact: </h3> <br />
<label> Contact name: </label> <br />
<input required type="text" name="contactName"> <br /><br />
<label> Contact number: </label> <br />
<input required type="text" name="number"> <br /><br />
<label> Email address: </label> <br />
<input type="text" name="email"> <br /><br />
<br /> <br />
<label> Call back on: </label> <br />
<input required type="date" name="rDate">
