<p> Fresh air system: </p>
<br />
<input type="radio" name="freshAir" value="HRV">
<label> HRV: </label> <br />
<input type="radio" name="freshAir" value="DVS">
<label> DVS: </label> <br />
<input type="radio" name="freshAir" value="None"> 
<label> None: </label> <br />
<input type="radio" name="freshAir" value="Unknown"> 
<label> Unknown: </label> <br />
<br /><br />