<% for (let i=0; i < data.length; i++) { %>
    <li>
        <div class="flex flex-ai-c flex-jc-sb">
            <p> <%=data[i].street%> </p>
            <div class="flex flex-ai-c">
                <button id="editAddressBut" type="button" class="button_secondary"> Edit </button>
                <form action="/clients/1?_method=DELETE" method="POST">
                    <button type="submit"><span class="close_form"></span></button>
                </form>
            </div>
        </div> 
    </li>
<% } %> 

<!-- Edit form -->
<%- include("../inputForms/address", {id:data[0].client_id}) %>