<% for (let i=0; i < data.length; i++) { %>
    <div class="flex flex-ai-c flex-jc-sb">
        <p> <%=data[i].rDate%> </p>
        <div class="flex flex-ai-c">
            <button type="button" class="button_secondary"> Edit </button>
            <form action="/clients/1?_method=DELETE" method="POST">
                <button type="submit"><span class="close_form"></span></button>
            </span>
        </div>
    </div> 
<% } %>