<div class="client_details">
    <script type="module" src="/js/script.js"> </script>
    <%
    var title;
    var file;
    var formURL;
    if (details.type == "address")  {
        title = "Address";
         file = "_address";
         formURL = "/clients/addAddress";
    } else if (details.type == "call") {
        title = "Call dates";
        file = "_call";
        formURL = "/clients/addCall";
    } else if (details.type == "contact") {
        title = "Contacts";
        file = "_contact";
        formURL = "/clients/addContact";
    }
    %>

    <div class="flex flex-ai-c flex-jc-sb">
        <p class="color_primary size_small"> <%= title %> </p>
        <a class="button button_secondary"> Add </a>
    </div>
    <hr class="line_header">

    <% if (details.type == "address") { %>
        <%- include("../addClient/address.ejs") %>
    <% } %>

    <div class="list_container margin_t_med margin_l_med">
        <ul id="client_details">
            <li>
                <%- include(file, {data:details.data}) %>   
            </li>
        </ul>
    </div>
</div>
