

:root {
  --header: #878787;
}

/* Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #DAD9D9;
}

.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*myStyles*/
.App-header {
  grid-column: 1 / span 3;
  height: 50px;
  background-color: var(--header);
  text-align: center;
}

.CustomerList {
  grid-column: 1 / span 1;
}

.CustomerDetails {
  grid-column: 2 / span 1;
}

.Enquiries {
  grid-column: 3 / span 1;
}





/* Dropdown Button */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}