@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
  --primary: #009AAF;
  --secondary: #0652C3;
}

/*Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: auto;
}

main {
  height: 100vh;
  overflow: auto;
  display: grid;
  /*grids 2-7 max 1480px*/
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(100px, 250px)) minmax(60px, 1fr);
}

header {
  grid-column: 2 / span 6;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
}

p, a, li, button, h1, .dropbtn{
  font-family: "Roboto",sans-serif;
  text-decoration: none;
  color: black;
}

p, li {
  font-size: 16px;
}

li {
  color: var(--secondary);
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

/*60*2 + 50 = 170 */
ul {
  list-style: none;
  height: 100%;
  min-height: 750px;
  padding: 0;
}

li {
  margin: 15px;
}

/* Custom tags*/
/* Nav */
.button_login {
  color: #C5C5C5;
}

.logo_font {
  margin-right: 75px;
  color: var(--primary);
}

.page_links a {
  margin-right: 35px;
  font-size: 20px;
}

.logo_user {
  margin-left: auto;
  height: 40px;
  width: 40px;
}

/* Customer list */
.customer_list {
  grid-column: 2 / span 1;
  height: 100%;
  min-height: 250px;
  overflow: scroll;
  width: 400px;
}

.customer_list_top {
  display: flex;
  width: 100%;
  align-items: center;
  height: 60px;
}

.button_main {
  border: none;
  border-radius: 8px;
  margin-right: 20px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--primary);
  color: white;
  font-size: 18px;
}

.customer_count {
  font-size: 18px;
}

.button_filter {
  margin-left: auto;
}

.search_bar {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border-radius: 8px;
  height: 35px;
  padding-left: 10px;
  padding-right: 0px;
}

/* Lines */
.vl {
  border: none;
  width: 0px;
  height: 100%;
  border-left: 1px solid #1f1209;
}

hr {
  border: none;
  width:100%;
  height: 0px;
  margin-bottom: 0;
  border-bottom: 1px solid #1f1209;
}

.line_header {
  grid-column: 1 / span 8;
}

.line_customer {
  margin-left: 353px;
}

.line_under {
  width: 90px;
  border-bottom: 1px solid var(--primary);
  border-width: 8px;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: lighter;
}

.dropbtn:hover, .dropbtn.focus {
  background-color: #C5C5C5;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}