<form class="grid_col_1_s3" action="/auth/register" method="POST">
    <div class="login_container">
        <% if (locals.error) { %>
            <p style="color: red;"> <%= locals.error %> </p>
            <br />
        <% } %>
        <h2> Register </h2>
        <br />

        <label for="email"> Email: </label>
        <input required type="email" name="email" id="register_email"> <br /><br />

        <label for="password"> Password: </label>
        <input required type="password" name="password" id="register_password"> <br /><br />

        <button type="submit" class="button_primary"> Register </button>
        <a href="/auth/login" class="button button_secondary margin-r-sm"> Login </a>
    </div>
</form>