// Grid_col_1 etc are in globals.scss as these are used on the callList page as well
.clientListDisplay {
    display: grid;
    grid-template-columns:100px minmax(100px, 250px) minmax(200px, 2000px) 100px;
    grid-template-rows: auto;
}

// Header
.clients_header_box {
    //flex flex-ai-c flex-jc-sb pad-y-sm
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

// Client details section
.cdSection {
    border: none;
    width: 100%;
    border-top: 1px solid grey;
    margin-bottom: 20px;
}

.cdSectionItem {
    min-width: 140px;
}

.cdSectionValue {
    color: gray;
    flex: 1;
}

.cdSectionRow {
    display: flex;
    margin: 15px;
    margin-bottom: 0;
    padding-bottom: 15px;
    width: 33%;
    border-bottom: 1px solid lightgray;
}

// Add icon
.add-icon {
    width: 30px;
    height: 30px;
    color: $primary;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.add-icon:hover {
    color: #0056b3;
  }

// Search bar
.search_bar {
    font-size: $font-small;
    border-radius: 8px;
    height: 31px;
    width: 225px;
}

// List container
.list_container {
    height: 83%;
    overflow-y: auto;
    padding-right: 6px;
}

// Section divider
.section_divider_clientList {
    height: 85vh;
    border: none;
    width:100%;
    border-right: 1px solid grey;
    overflow: auto;
}

 // Import clients
 .clientsFile {
    display: inline-block;
    width: 245px;
 }

 .exportFilterForm {
    border: 1px solid black;
    border-radius: 4px;
 }

 // Client details
 .clientDetailsDiv {
    display: none;
    padding-top: 10px;
    padding-left: 12px;
 }

 .clientListDisplay label {
    font-size: $font-v-small;
    margin-right: 10px;
}

.popup-client input[type=text], .clientPopup input[type=email] {
    width: 100%;
}