.remindersDisplay label {
    font-size: $font-v-small;
    margin-right: 10px;
}

// Grid_col_1 etc are in globals.scss
.remindersDisplay{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: auto;
}

.reminders_list_container {
    height: 82vh;
    overflow-y: auto;
}

// Display for client popup
// Popup classes for the client popups on the call list page
.clientPopup {
    width: 425px;;
    position: absolute;
}

.interactionsDiv {
    display: none;
}

.popupHeaderLine {
    grid-column: 1 / span all;
    border-bottom: 2px solid grey;
}

.clientPopup a {
    text-decoration: underline;
}

.flagCheckBoxContainer {
    margin-left: 10px;
    margin-right: 5px;
}

// Confirmed list header dimension
.confirmed_width {
    width: 60%;
}

// Client flag
.flagCheckBox::after {
    content: ' \2691';
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

// Reminder list properties
.rProperty1 {
    width: 185px;
    align-items: center;
    padding-right: 30px;
    margin-left: auto;
}

.rProperty1 {
    align-items: center;
}

.Rproperty-name {
    color: grey;
    margin-right: 10px;
}

.Rproperty-value {
    color: black;
}

.RListHeader {
    color: $primary;
    font-size: $font-medium;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 10px;
}