header {
    grid-column: 2 / span 3;
}

nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    color: $primary;
    font-size: $font_large;
    font-weight: bold;
}

.user {
    font-weight: lighter;
}