.section_title {
    font-size: $font-medium;
    color: $primary;
}

.section_content {
    padding-left: 10px;
    padding-right: 10px;
}

.section_divider {
    min-height: 71vh;
    margin-bottom: 16px;
    border: none;
    width:100%;
    border-right: 1px solid #1f1209;
}

.date_divider {
    color: grey;
    border-bottom: 1px solid grey;
    cursor: default;
    font-weight: lighter;
}