<div class="clientListDisplay">
    <div class="grid_col_1_s2">
        <!-- Clients Header -->
        <%- include("../partials/clientOverview/overviewHeader", { nClients:locals.nClients }) %>

        <div style="overflow: auto; height: 80vh;">
            <ul>
                <% for (let i = 0; i < locals.list.length; i++) { %>
                    <li class="list_item_divider"> <%= list[i].name %> </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>