<script type="module" src="/js/remindersScript.js"> </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="remindersDisplay">
    <!-- Page Tabs -->
    <div class="grid_col_1 margin_t_med margin_b_sm flex flex-ai-c tabs">
        <button id="actionsTabLink" class="remindersTabLink">Actions</button>
        <button id="awaitingTabLink" class="remindersTabLink">Awaiting Response</button>
        <button id="completedTabLink" class="remindersTabLink">Recently Completed</button>
    </div>

    <!-- Multi operation buttons and border -->
    <div id="setStatusDiv" class="grid_col_1 hidden"> 
        <button id="setStatusButton" type="button" style="justify-self: left;" class="color_secondary"> Set status </button>
        <!-- Popup -->
        <%- include("../partials/reminders/setStatusPopup") %>
    </div>

    <!-- Actions tab content -->
    <div id="actions" class="grid_col_1_s2 tabContent">
        <%- include("../partials/reminders/filterPopup", {list:"pending"}) %>
        <%- include("../partials/reminders/filterPopup", {list:"followUp"}) %>
        <!-- Pending list -->
        <div style="flex:1;">
            <!-- Header -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="PCheckbox" type="checkbox">
                    <span class="RListHeader"> Pending </span>
                    <span id="pendingCount" class="reminderCount"></span>
                </div>
                <button id="pendingFilterButton" style="margin-right: 40px;" class="button_filter"> Filter </button>
            </div>
            <hr />
            
            <div class="inner_section reminders_list_container overflowY">
                <ul id="pendingList"></ul>
                <button class="load-more" data-list="pendingList"> Load more... </button>
            </div>
        </div>

        <!-- Follow ups-->
        <div style="flex:1;">
            <!-- Header -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="FUCheckbox" type="checkbox">
                    <span class="RListHeader"> Follow ups </span>
                    <span id="followUpCount" class="reminderCount"></span>
                </div>
                <button id="followUpFilterButton" style="margin-right: 20px;" class="button_filter"> Filter </button>
            </div>
            <hr />
            <div class="inner_section reminders_list_container overflowY">
                <ul id="followUpList"></ul>
                <button class="load-more" data-list="followUpList"> Load more... </button>
            </div>
        </div>
    </div>

    <!-- Awaiting response -->
    <div id="awaiting" class="grid_col_1 tabContent">
        <div style="flex:1;">
            <!-- Header and filter button -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="ACheckbox" type="checkbox">
                    <span class="RListHeader"> Awaiting response </span>
                    <span id="awaitingCount" class="reminderCount"></span>
                </div>
                <button id="FollowUpFilterButton" style="margin-right: 20px;" class="button_filter"> Filter </button>
            </div>
            <hr />
            <div class="inner_section reminders_list_container overflowY">
                <ul id="awaitingList"></ul>
                <button class="load-more" data-list="awaitingList"> Load more... </button>
            </div>
        </div>
    </div>

    <!-- Confirmed -->
    <div id="completed" class="grid_col_1 tabContent">
        <div style="flex:1;">
            <!-- Header -->
            <span class="RListHeader margin_l_sm"> Confirmed </span> 
            <hr />
            <div class="inner_section reminders_list_container section_divider_confirmedList">
                <ul id="completedList"></ul>
            </div>
        </div>
    </div>
</div>