<script type="module" src="/js/remindersScript.js"> </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="remindersDisplay">
    <!-- Page Tabs -->
    <div class="grid_col_1 margin_t_med margin_b_sm flex flex-ai-c tabs">
        <button id="actionsTabLink" class="tabLink">Pending</button>
        <button id="awaitingTabLink" class="tabLink">Awaiting Response</button>
        <button id="completedTabLink" class="tabLink">Recently Completed</button>
    </div>

    <!-- Multi operation buttons and border -->
    <div id="setStatusDiv" class="grid_col_1 hidden"> 
        <button id="setStatusButton" type="button" style="justify-self: left;" class="color_secondary"> Set status </button>
        <button id="multiDeleteButton" type="button" style="color: red;"> Delete </button>
        <!-- Popups -->
        <%- include("../partials/reminders/setStatusPopup") %>
        <div id="multiDeletePopup" class="popup hidden">
            <!-- Header -->
            <div class="popupHeaderDiv">
                <p class="popupHeader"> Delete clients </p>
                <span id="multiDeleteCloseButton" class="close-button">&times</span>
            </div>
            <span class="size_v_small"> Delete these clients and all associated data? </span>
            <br /> <br/ >
            <div style="text-align: center;">
                <button id="multiDeleteSubmitButton" type="button" class="button_primary_red"> Submit </button>
            </div>
        </div>
    </div>

    <!-- Actions tab content -->
    <div id="actions" class="grid_col_1 tabContent">
        <%- include("../partials/reminders/filterPopup", {list:"pending", month:month_p, d1:d1_p, d2:d2_p}) %>
        <!-- Pending list -->
        <div style="flex:1;">
            <!-- Header -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="PCheckbox" type="checkbox">
                    <span class="RListHeader"> Pending </span>
                    <span id="pendingCount" class="listCount"></span>
                </div>
                <button id="pendingFilterButton" style="margin-right: 2%;" class="button_filter"> Filter </button>
            </div>
            <hr />
            
            <div class="inner_section reminders_list_container">
                <ul id="pendingList"></ul>
                <button class="load-more" data-list="pendingList"> Load more... </button>
            </div>
        </div>
    </div>

    <!-- Awaiting response -->
    <div id="awaiting" class="grid_col_1_s2 tabContent">
        <!-- Filter popups -->
        <%- include("../partials/reminders/filterPopup", {list:"awaiting", month:month_a, d1:d1_a, d2:d2_a}) %>
        <%- include("../partials/reminders/filterPopup", {list:"followUp", month:month_fu, d1:d1_fu, d2:d2_fu}) %>

        <div style="flex:1;">
            <!-- Header and filter button -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="ACheckbox" type="checkbox">
                    <span class="RListHeader"> Awaiting response </span>
                    <span id="awaitingCount" class="listCount"></span>
                </div>
                <button id="awaitingFilterButton" style="margin-right: 2%;" class="button_filter"> Filter </button>
            </div>
            <hr />
            <div class="inner_section reminders_list_container">
                <ul id="awaitingList"></ul>
                <button class="load-more" data-list="awaitingList"> Load more... </button>
            </div>
        </div>

        <!-- Follow ups-->
        <div style="flex:1;">
            <!-- Header -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="FUCheckbox" type="checkbox">
                    <span class="RListHeader"> Follow ups </span>
                    <span id="followUpCount" class="listCount"></span>
                </div>
                <button id="followUpFilterButton" style="margin-right: 2%;" class="button_filter"> Filter </button>
            </div>
            <hr />
            <div class="inner_section reminders_list_container">
                <ul id="followUpList"></ul>
                <button class="load-more" data-list="followUpList"> Load more... </button>
            </div>
        </div>
    </div>

    <!-- Confirmed -->
    <div id="completed" class="grid_col_1 tabContent">
        <div style="flex:1;">
            <!-- Header -->
            <span class="RListHeader margin_l_sm"> Confirmed </span> 
            <hr />
            <div class="inner_section reminders_list_container">
                <ul id="completedList"></ul>
            </div>
        </div>
    </div>
</div>