<script type="module" src="/js/remindersScript.js"> </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="remindersDisplay">
    <!-- Page Tabs -->
    <div class="grid_col_1 margin_t_med margin_b_sm flex flex-ai-c tabs">
        <button id="actionsTabLink" class="remindersTabLink">Actions</button>
        <button id="awaitingTabLink" class="remindersTabLink">Awaiting Response</button>
        <button id="completedTabLink" class="remindersTabLink">Recently Completed</button>
    </div>

    <!-- Multi operation buttons and border -->
    <div id="setStatusDiv" class="grid_col_1 hidden"> 
        <button id="setStatusButton" type="button" style="justify-self: left;" class="color_secondary"> Set status </button>
    </div>

    <!-- Checkbox form and popup -->
    <form id="checkBoxForm" action="/set-client-status-multi" method="POST">
        <div id="setStatusPopup" class="centeredPopupCP">
            <div class="flex flex-ai-c flex-jc-sb">
                <h3 style="text-align: center;"> Set reminder status </h3>
                <span id="setStatusCloseButton" class="close_form"></span>
            </div>
            <br />
            <input type="radio" name="clientStatus" class="revealCallDate" value="call">
            <label> Call back </label> <br />
            <input type="radio" name="clientStatus" value="tbc">
            <label> To be Confirmed </label> <br />
            <input type="radio" name="clientStatus" class="revealCallDate" value="confirmed">
            <label> Confirmed </label>
            <br /> <br />
            <input name="incrementYear" type="checkbox" value="incrementYear">
            <label for="incrementYear"> Increment year by 1? </label>
            <br /> <br />
            <div style="justify-content: center;" class="flex flex-jc-sb">
                <button class="button_primary" type="submit"> Submit </button>
            </div>
        </div>
    </form>
    

    <!-- Actions tab cointent -->
    <div id="actions" class="grid_col_1_s2 tabContent">
        <!--
        <div class="margin_t_med margin_b_sm">
            <form id="monthDateForm" <% if (locals.month == "custom") { %> style="display: none;" <% } %> action="/setDates" method="GET">
                <div class="flex flex-ai-c">
                    <label class="margin_r_sm"> Select month: </label>
                    <input id="monthInputCL" type="month" name="monthCL" value="<%= locals.month %>">
                    <button id="customDateButton" type="button" class="color_secondary"> Custom date range </button>
                </div>
            </form>
            <form id="customeDateForm" <% if (locals.month != "custom") { %> style="display: none;" <% } %> action="/setDates" method="GET">
                <div class="flex flex-ai-c">
                    <div>
                        <input class="margin_r_sm" id="date1_input" type="date" name="date1" value="<%= locals.d1 %>">
                        to
                        <input class="margin_l_sm" id="date2_input" type="date" name="date2" value="<%= locals.d2 %>">
                    </div>
                    <button class="button_secondary margin_l_sm margin_r_med" type="submit"> Set </button>
                    <button id="monthDateButton" type="button" class="color_secondary"> By Month </button> 
                </div>
            </form>
        </div>
    -->
        <!-- Pending list -->
        <div style="flex:1;">
            <!-- Header -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="PCheckbox" type="checkbox">
                    <span class="RListHeader"> Pending </span>
                </div>
                <button id="pendingFilterButton" style="margin-right: 40px;" class="button_filter"> Filter </button>
            </div>
            <hr />
            
            <div class="inner_section reminders_list_container section_divider_callList">
                <ul id="pendingList"></ul>
                <!--
                <% //if (pending.length >= 25) { %>
                    <form id="load-more-form" action="/load-more-p" method="GET">
                        <button type="submit"> Load more... </button>
                    </form>
                <% //} %>
                -->
            </div>
        </div>

        <!-- Follow ups-->
        <div style="flex:1;">
            <!-- Header -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="FUCheckbox" type="checkbox">
                    <span class="RListHeader"> Follow ups </span>
                </div>
                <button id="FollowUpFilterButton" style="margin-right: 20px;" class="button_filter"> Filter </button>
            </div>
            <hr />
            <div class="inner_section reminders_list_container section_divider_callList">
                <ul id="followUpList"></ul>
                <!--
                <% //if (followUp.length >= 25) { %>
                    <form id="load-more-form" action="/load-more-fu" method="GET">
                        <button type="submit"> Load more... </button>
                    </form>
                <% //} %>
                -->
            </div>
        </div>
    </div>

    <!-- Awaiting response -->
    <div id="awaiting" class="grid_col_1 tabContent">
        <div style="flex:1;">
            <!-- Header and filter button -->
            <div class="flex flex-ai-c flex-jc-sb margin_l_sm">
                <div>
                    <input id="ACheckbox" type="checkbox">
                    <span class="RListHeader"> Awaiting response </span>
                </div>
                <button id="FollowUpFilterButton" style="margin-right: 20px;" class="button_filter"> Filter </button>
            </div>
            <hr />
            <div class="inner_section reminders_list_container section_divider_callList">
                <ul id="awaitingList"></ul>
            </div>
        </div>
    </div>

    <!-- Confirmed -->
    <div id="completed" class="grid_col_1_s2 tabContent">
        <div style="flex:1;">
            <!-- Header and clear button-->
            <span class="RListHeader margin_l_sm"> Confirmed </span> 
            <hr />
            <div class="inner_section section_divider_confirmedList">
                <ul id="completedList"></ul>
            </div>
        </div>
    </div>
</div>